<div style="text-align: center;color:rgb(223, 49, 107);font-style:italic;">
    <h1>Contact Our</h1>
  </div>
  <div style="text-align: center; font-style: italic;">
    <h1>Customer Support Center</h1>
    <img class="img-responsive" src="assets/images/image.jpeg" width="170">
  </div>
  &nbsp;&nbsp;&nbsp;
  <div style="text-align: center;">
    <h4>Contact Information</h4>
    <h6>Please fill out your information below</h6>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div class="container">
    <div class="form-group">
      <h6>Name *</h6>
      <form>
        <input type="text" id="firstName" name="firstName">
        &nbsp;
        <input type="text" id="lastName" name="lastName">
    </form>
    <form>
      <h6>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</h6>
    </form>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="form-group">
      <label for="email">Email *</label>
      <input type="email" class="form-control" id="email">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="form-group">
      <label for="phone">Phone *</label>
      <input type="phone number" class="form-control" id="Phone">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="form-group">
      <label for="address"> Address *</label>
      <input type="text" class="form-control" id="address">
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div style="text-align: center;">
    <button type="button" class="btn btn-primary">
      &nbsp;&nbsp;&nbsp;&nbsp; Submit&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>